<div class="container">
  <p id="notice"><%= notice %></p>
  <div class="add-btn"><%= link_to 'Add Quote', new_quote_path %></div>

  <div class="quotes-grid">
    <% @quotes.each do |quote| %>
      <div class="quote">
        <p class="quote-text">
          <%= quote.quote %>
        </p>
        <span class="quote-author">
          - <%= quote.author %>
        </span>
      </div>
    <% end %>
  </div>
</div>
