<div class="container">
  <div class="form-container">
    <h1>New Quote</h1>

    <%= render 'form', quote: @quote %>

    <div class="btn-back"><%= link_to 'Back', root_path %></div>
  </div>
</div>
